html {
  font-size: 62.5%; }

body {
  background-color: #141414; }

ul {
  font-family: sans-serif; }
  ul li {
    margin: 0.9rem; }
    ul li a {
      font-size: 1.5rem; }

.navbar-style {
  background-color: #141414; }

.navbar-name {
  margin: 0.9rem;
  font-size: 1.1rem; }

.title-index {
  font-family: serif;
  color: white;
  font-size: 3.5vw; }

.subtitle-index {
  font-family: sans-serif;
  color: white;
  font-size: 1.5vw; }

.carousel-text {
  position: absolute;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%; }

.absolute-div {
  position: absolute;
  top: 15%;
  left: 0;
  right: 20%;
  bottom: 0; }

.carousel-text h1 p {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.contenido {
  text-align: center;
  margin-top: 7%; }

.contenido {
  background-color: #141414;
  font-family: serif;
  color: white; }

.contenido__titulo {
  font-family: sans-serif;
  font-size: 2vw; }

.contenido__subtitulo {
  font-family: sans-serif;
  font-size: 1vw; }

.contenido__subtitulo--estilo {
  font-family: sans-serif;
  font-size: 1vw;
  margin-bottom: 10%; }

.title-sections {
  font-family: serif;
  color: white;
  font-size: 2.8vw;
  margin-top: 8%;
  text-align: center; }

.title-index {
  animation-duration: 8s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.subtitle-index {
  animation-duration: 8s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.card-image:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d; }

.fa-facebook:hover {
  color: white; }

.fa-instagram:hover {
  color: white; }

.card-name {
  font-family: sans-serif;
  font-size: 1.1vw;
  color: black; }

.title-contact {
  font-family: serif;
  color: white;
  font-size: 2.8vw;
  margin-top: 8%;
  text-align: center;
  margin-bottom: 0%; }

.subtitle-contact {
  font-family: sans-serif;
  color: white;
  font-size: 1vw;
  text-align: center;
  margin-bottom: 6%;
  margin-top: 0%; }

.container-contact {
  padding-left: 16%;
  padding-right: 16%;
  padding-top: 3%;
  margin-bottom: 6%; }

.btn-style {
  background-color: gray;
  border-color: gray;
  font-family: sans-serif;
  font-size: 0.8vw; }

.btn-style:hover {
  background-color: black;
  border-color: black;
  font-family: sans-serif; }

.contact-style {
  padding-right: 20%;
  padding-left: 20%; }

.contact-label {
  font-family: sans-serif;
  color: white;
  font-size: 0.8vw;
  height: 10%; }

.imgFotografos {
  width: 10%;
  margin-bottom: 1.4%; }

.fa-facebook {
  padding-right: 2%;
  color: gray; }

.fa-instagram {
  color: gray; }

h6 {
  padding-top: 2%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  color: gray;
  text-align: center;
  font-size: 0.6vw;
  font-family: sans-serif; }

.icon-footer {
  padding-top: 2%;
  text-align: center;
  font-size: 1.5vw; }

.footer-contact {
  padding-top: 0%; }

@media (max-width: 1400px) {
  .title-sections {
    margin-top: 10%; }
  .title-contact {
    margin-top: 10%; }
  .subtitle-contact {
    font-size: 1.5vw; }
  .contact-label {
    font-size: 1.2vw; }
  .btn-style {
    font-size: 1.2vw; }
  .title-index {
    font-size: 3.5vw; }
  .subtitle-index {
    font-size: 1.5vw; }
  .contenido__titulo {
    font-size: 2.3vw; }
  .contenido__subtitulo {
    font-size: 1.3vw; }
  .contenido__subtitulo--estilo {
    font-size: 1.3vw; }
  .icon-footer {
    font-size: 1.8vw; }
  h6 {
    font-size: 0.6vw; }
  .card-name {
    font-size: 1.7vw; }
  .imgFotografos {
    width: 10%; } }

@media (max-width: 700px) {
  .title-sections {
    margin-top: 15%;
    font-size: 3.3vw; }
  .title-contact {
    margin-top: 15%;
    font-size: 3.3vw; }
  .subtitle-contact {
    font-size: 2vw; }
  .contact-label {
    font-size: 2.2vw; }
  .btn-style {
    font-size: 2.2vw; }
  .title-index {
    font-size: 5vw; }
  .subtitle-index {
    font-size: 3vw; }
  .contenido__titulo {
    font-size: 3vw; }
  .contenido__subtitulo {
    font-size: 2vw; }
  .contenido__subtitulo--estilo {
    font-size: 2vw; }
  .icon-footer {
    font-size: 3.4vw; }
  h6 {
    font-size: 1.8vw; }
  .card-name {
    font-size: 2.3vw; }
  .imgFotografos {
    width: 15%; } }

@media (max-width: 400px) {
  .title-sections {
    margin-top: 22%; }
  .title-contact {
    margin-top: 22%; } }
