html {
font-size: 62.5%; 
}

@import "fuentes";
@import "colores";

body {
	background-color: $colorFondo;
}

ul {
	font-family: $fuenteSecundaria;
		li {
			margin: 0.9rem;
			a {
				font-size: 1.5rem;
			}
		}
}


.navbar-style { 
	background-color: $colorFondo; 

}

.navbar-name {
	margin: 0.9rem;
	font-size: 1.1rem;
}

//MIXIN

@mixin estilo-titulos {
	font-family: $fuentePrincipal;
	color: $colorPrincipal;
}

.title-index {
	@include estilo-titulos
	font-size: 3.5vw;
	
}

@mixin estilo-subtitulos {
	font-family: $fuenteSecundaria;
	color: $colorPrincipal;
}

.subtitle-index {
	@include estilo-subtitulos
	font-size: 1.5vw;
}

.carousel-text {
       position: absolute;
       z-index: 1;
       display:table;
       width: 100%;
       height: 100%;
}

.absolute-div {
       position: absolute;
         top: 15%;
         left: 0;
         right: 20%;
         bottom: 0;
}

.carousel-text h1 p {
       display:table-cell;
       vertical-align: middle;
       text-align:center;
}


.contenido {
	text-align: center;
	margin-top: 7%;
}

//BEM 

.contenido {
	background-color: $colorFondo;
	@include estilo-titulos
}

.contenido__titulo { 
	font-family: $fuenteSecundaria;
	font-size: 2vw;
}

.contenido__subtitulo {
	font-family: $fuenteSecundaria;
	font-size: 1vw;
}


.contenido__subtitulo--estilo {
	font-family: $fuenteSecundaria;
	font-size: 1vw;
	margin-bottom: 10%;
}



.title-sections {
	@include estilo-titulos
	font-size: 2.8vw;
	margin-top: 8%;
	text-align: center;
}



//Animaciones y transiciones

.title-index {
	animation-duration: 8s; 
	animation-name: aparecer;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

.subtitle-index {
	animation-duration: 8s; 
	animation-name: aparecer;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}


.card-image:hover {
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}


.fa-facebook:hover {
	padding-right:2%;
	color: $colorPrincipal;
}

.fa-instagram:hover {
	color: $colorPrincipal;
}


.card-name {
  font-family: $fuenteSecundaria;
  font-size: 1.1vw;
  color: black;
}


//estilo contacto 

.title-contact {
	@include estilo-titulos
	font-size: 2.8vw;
	margin-top: 8%;
	text-align: center;
	margin-bottom: 0%;
}

.subtitle-contact {
	@include estilo-subtitulos
	font-size: 1vw;
	text-align: center;
	margin-bottom: 6%;
	margin-top: 0%;
}


.container-contact {
	padding-left: 16%;
	padding-right: 16%;
	padding-top: 3%;
	margin-bottom: 6%;
}


.btn-style {
	background-color: $colorSecundario;
	border-color: $colorSecundario;
	font-family: $fuenteSecundaria;
	font-size: 0.8vw;
}

.btn-style:hover {
	background-color: $colorNeutro;
	border-color: $colorNeutro;
	font-family: $fuenteSecundaria;
}

.contact-style {
	padding-right: 20%;
	padding-left: 20%;
}

.contact-label {
	@include estilo-subtitulos
	font-size: 0.8vw;
	height: 10%;
}


//sección fotógrafos-videógrafos

.imgFotografos {
	width: 10%;
}


//estilo footer

.fa-facebook {
	padding-right:2%;
	color: $colorSecundario;
}

.fa-instagram {
	color: $colorSecundario;
}


h6 {
	padding-top: 2%;
	padding-bottom: 0%;
	margin-bottom: 0%;
	color: $colorSecundario;
	text-align: center;
	font-size: 0.6vw;
	font-family: $fuenteSecundaria;
}

.icon-footer {
	padding-top: 2%;
	text-align: center;
	font-size: 1.5vw;
}


.footer-contact {
	padding-top: 0%;
}


//media queries

@media (max-width:1400px) {
	.title-sections {
		margin-top: 10%;

	}

	.title-contact {
		margin-top: 10%;

	}

	.subtitle-contact {
		font-size: 1.5vw;
	}

	.contact-label  {
		font-size: 1.2vw; 
	}
	.btn-style {
		font-size: 1.2vw; 
	}

	.title-index {
		font-size: 3.5vw;
	}

	.subtitle-index {
		font-size: 1.5vw;
	}

	.contenido__titulo {
		font-size: 2.3vw;
	}

	.contenido__subtitulo {
		font-size: 1.3vw;
	}

	.contenido__subtitulo--estilo {
		font-size: 1.3vw;
	}

	.icon-footer {
		font-size: 1.8vw;
	}

	h6 {
		font-size: 0.6vw;
	}

	.card-name {
		font-size: 1.7vw;
	}

	.imgFotografos {
	width: 10%;

	}
	

}


@media (max-width:700px) {
	.title-sections {
		margin-top: 15%;
		font-size: 3.3vw;

	}

	.title-contact {
		margin-top: 15%;
		font-size: 3.3vw;

	}

	.subtitle-contact {
		font-size: 2vw;
	}

	.contact-label  {
		font-size: 2.2vw; 
	}
	.btn-style {
		font-size: 2.2vw; 
	}

	.title-index {
		font-size: 5vw;
	}

	.subtitle-index {
		font-size: 3vw;
	}

	.contenido__titulo {
		font-size: 3vw;
	}

	.contenido__subtitulo {
		font-size: 2vw;
	}

	.contenido__subtitulo--estilo {
		font-size: 2vw;
	}

	.icon-footer {
		font-size: 3.4vw;
	}

	h6 {
		font-size: 1.8vw;
	}

	.card-name {
		font-size: 2.3vw;
	}

	.imgFotografos {
	width: 15%;

	}

}

@media (max-width:400px) {
	.title-sections {
		margin-top: 22%;
	}

	.title-contact {
		margin-top: 22%;
	}

}

