
li {
	display: inline-block;
	margin: 15px;
}


ul li a {
	font-size: 15px;
	font-family: sans-serif;
	text-decoration: none;
}


.contenido {
	text-align: center;
	margin-top: 90px;
}


body {
	background-color: rgb(20, 20, 20);
}


/*Animaciones y transiciones*/

.titulo {
	animation-duration: 4s; 
	animation-name: aparecer;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

.imgTransition {
	width: 800px;
	transition-duration: 5s;
}

.imgTransition:hover {
	width: 1000px; 
} 




/*Bootstrap*/
/*.carousel-inner {
	width: 1000px;
	height: auto;
}
*/

/*Bootstrap navbar color*/

.bg-company-purple {
  background-color: purple;
}


//Sass

@import "colores";



//BEM 

@import "fuentes";
.contenido {
	background-color: $colorFondo;
	font-family: $fuentePrincipal;
	color: $colorTitulo;
}

.contenido__titulo { 
	font-family: $fuenteSecundaria;
	font-size: 35px;
	margin-bottom: 20px;
}

.contenido__subtitulo {
	font-family: $fuenteSecundaria;
	font-size: 18px;
	color:$colorSubtitulo;
	margin-bottom: 30px;
}

.contenido__final {
	margin-top: 40px;
	color: $colorSubtitulo;
}


//titulo sección destacados

.contenido__titulo--estilo {
	font-family: $fuenteSecundaria;
	font-size: 30px;
	color: $colorTitulo;
}

//Sass II


.card-text {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}

.btn-primary {
	background-color: purple;
	border-color: purple;
	font-family: sans-serif;
}

.btn-primary:hover {
	background-color: #6E12A3;
	border-color: #6E12A3;
	font-family: sans-serif;
}

.btn {
border-radius: 3px;

}

.contact-form {
	padding-right: 25%;
	padding-left: 25%;
	padding-top: 8%;
}

label {
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}


.title {
	font-family: $fuentePrincipal;
	font-size: 50px;
	color: $colorTitulo;
	margin-top: 130px;
	text-align: center;
}

.subtitle {
	font-family: $fuenteSecundaria;
	font-size: 20px;
	color: $colorSubtitulo;
	text-align: center;
	margin-top: 30px;
}

.card-body {
	background-color: purple;
}

.redes-container {
	margin-top: 20px;
	margin-right: 50px;
}

.card {
	width: 348px;
	transition-duration: 3s;
}

.card:hover {
	width: 400px;
}

.carousel-caption {
       position: absolute;
       z-index: 1;
       display:table;
       width:100%;
       height:100%;
}

.absolute-div {
       position: absolute;
         top: 20%;
         left: 0;
         right: 20%;
         bottom: 0;
}

.carousel-caption h1 p {
       display:table-cell;
       vertical-align: middle;
       text-align:center;
}

.item {
       position:relative;
}

.redes-container {
	text-align: center;
}

.title1 {
	font-family: $fuentePrincipal;
	font-size: 50px;
	color: $colorSubtitulo;
}

.subtitle1 {
	font-family: $fuenteSecundaria;
	font-size: 20px;
	color: $colorSubtitulo;
}