
li {
	display: inline-block;
	margin: 15px;
}


ul li a {
	font-size: 15px;
	font-family: sans-serif;
	text-decoration: none;
}


.contenido {
	text-align: center;
	margin-top: 6%;
}


body {
	background-color: rgb(20, 20, 20);
}


/*Animaciones y transiciones*/

.titulo {
	animation-duration: 4s; 
	animation-name: aparecer;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

.imgTransition {
	width: 800px;
	transition-duration: 5s;
}

.imgTransition:hover {
	width: 1000px; 
} 


//Sass

@import "colores";



//BEM 

@import "fuentes";
.contenido {
	background-color: $colorFondo;
	font-family: $fuentePrincipal;
	color: $colorSubtitulo;
}

.contenido__titulo { 
	font-family: $fuenteSecundaria;
	font-size: 35px;
	margin-bottom: 20px;
}

.contenido__subtitulo {
	font-family: $fuenteSecundaria;
	font-size: 18px;
	color:$colorSubtitulo;
	margin-bottom: 30px;
}

.contenido__final {
	margin-top: 40px;
	color: $colorSubtitulo;
}


//titulo sección destacados

.contenido__titulo--estilo {
	font-family: $fuenteSecundaria;
	font-size: 30px;
	color: $colorSubtitulo;
}

//Sass II


.card-text {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

.btn-primary {
	background-color: black;
	border-color: black;
	font-family: sans-serif;
}

.btn-primary:hover {
	background-color: black;
	border-color: black;
	font-family: sans-serif;
}

.btn {
border-radius: 3px;

}

.contact-form {
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 3%;
}

label {
	font-family: sans-serif;
	font-size: 20px;
	color: black;
}


.title {
	font-family: $fuentePrincipal;
	font-size: 50px;
	color: $colorSubtitulo;
	margin-top: 7%;
	text-align: center;
}


.subtitle-contact {
	font-family: $fuenteSecundaria;
	font-size: 20px;
	color: black;
	text-align: center;
	margin-top: 0%;
	margin-bottom: 10%;
}

.redes-container {
	margin-top: 20px;
	margin-right: 50px;
}



.carousel-caption {
       position: absolute;
       z-index: 1;
       display:table;
       width:100%;
       height:100%;
}

.absolute-div {
       position: absolute;
         top: 10%;
         left: 0;
         right: 20%;
         bottom: 0;
}

.carousel-caption h1 p {
       display:table-cell;
       vertical-align: middle;
       text-align:center;
}

.item {
       position:relative;
}

.redes-container {
	text-align: center;
}

.title1 {
	font-family: $fuentePrincipal;
	font-size: 50px;
	color: $colorSubtitulo;
}

.subtitle1 {
	font-family: $fuenteSecundaria;
	font-size: 20px;
	color: $colorSubtitulo;
}

.container-contact {
	background-color: white;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10%;
	padding-bottom: 8%;
	margin-top: 10%;
	margin-bottom: 8%;
}


@media (max-width:700px) and (min-width:100px) {
    .title {
       font-size: 30px;
    }

    .contenido__titulo {
    	font-size: 15px;
    }

    .contenido__subtitulo {
    	font-size: 6px;
    }

    .title1 {
    	font-size: 30px;
    }

    .subtitle1 {
    	font-size: 10px;
    }

    .img-fluid {
    	width: 80px;
    	heigth: auto;
    }
}

.navbar { background-color: rgb(20, 20, 20); }

#carouselExampleCaptions {
	margin-top: 8%;
}
